{% extends 'base.html' %}

{% load static %}

{% block title %}
    Create QRCode
{% endblock %}

{% block link %}
    <link rel="stylesheet" href = "{% static 'css/create_code.css' %} ">
{% endblock %}

{% block content %}
    <script src="{% static 'js/create_code.js' %}" defer></script>
    <main>
        <form class="details" method="POST">
            {% csrf_token %}
            <span class="info">
                <p>Назва</p>
                <input type="text" name="title">
            </span>
            <span class="info">
                <p>URL</p>
                <input type="text" name="url">
            </span>
            <span class="info">
                <p>Колір</p>
                <div class="colors">
                    <input type="text" style="display: none;" name="color">
                    <div style="background-color: #000000;" class="color"></div>
                    <div style="background-color: #9747FF;" class="color"></div>
                    <div style="background-color: #0900FF;" class="color"></div>
                    <div style="background-color: #00D9FF;" class="color"></div>
                    <div style="background-color: #59FF00;" class="color"></div>
                    <div style="background-color: #FFF600;" class="color"></div>
                    <div style="background-color: #0900FF;" class="color"></div>
                    <div style="background-color: #0900FF;" class="color"></div>
                    <div style="background-color: #0900FF;" class="color"></div>
                </div>
            </span>
            <span class="info">
                <span class="info">
                    <p>Колір фону</p>
                    <div class="colors">
                        <input type="text" style="display: none;" name="color">
                        <div style="background-color: #000000;" class="color"></div>
                        <div style="background-color: #9747FF;" class="color"></div>
                        <div style="background-color: #0900FF;" class="color"></div>
                        <div style="background-color: #00D9FF;" class="color"></div>
                        <div style="background-color: #59FF00;" class="color"></div>
                        <div style="background-color: #FFF600;" class="color"></div>
                        <div style="background-color: #0900FF;" class="color"></div>
                        <div style="background-color: #0900FF;" class="color"></div>
                        <div style="background-color: #0900FF;" class="color"></div>
                    </div>
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" id="file-upload" name="file" accept="image/*">
                </form>
            <span class="info">
                <p>Опис</p>
                <input type="text" name = 'description'>
            </span>
            <div class="button-container">
                <button class="button" type='submit'>
                    Зберегти
                </button>
                {% if empty_inputs_error %}
                    <p class="error">Не вдалося зберегти qr-код. Перевірте, чи всі поли заповнені.</p>
                {% endif %}
            </div>
        </form>
        <div class="code">
            <img class="qrcode" src="{% static 'images/pixel-frame.png' %}" alt="pipel-code">
            <button class="button">
                Завантажити
                <img class="download-image" src="{% static 'images/load.png' %}" alt="">
            </button>
        </div>
    </main>
{% endblock %}