{% extends 'base.html' %}

{% load static %}

{% block title %}
    Create QRCode
{% endblock %}

{% block link %}
    <link rel="stylesheet" href = "{% static 'css/create_code.css' %} ">
{% endblock %}

{% block content %}
    <main>
        <form class="details" method="POST">
            {% csrf_token %}
            <span class="info">
                <p>Назва</p>
                <input type="text" name="title">
            </span>
            <span class="info">
                <p>URL</p>
                <input type="text" name="url">
            </span>
            <span class="info">
                <p>Колір</p>
                <div class="colors">
                    <div style="background-color: #000000;" class="color"></div>
                    <div style="background-color: #9747FF;" class="color"></div>
                    <div style="background-color: #0900FF;" class="color"></div>
                    <div style="background-color: #00D9FF;" class="color"></div>
                    <div style="background-color: #59FF00;" class="color"></div>
                    <div style="background-color: #FFF600;" class="color"></div>
                    <div style="background-color: #0900FF;" class="color"></div>
                    <div style="background-color: #0900FF;" class="color"></div>
                    <div style="background-color: #0900FF;" class="color"></div>
                </div>
            </span>
            <span class="info">
                <p>Опис</p>
                <input type="text" name = 'description'>
            </span>
            <button type='submit'>
                Оновити
            </button>
        </form>
        <div class="code">
            <img class="qrcode" src="{% static 'images/pixel-frame.png' %}" alt="pipel-code">
            <button>
                Завантажити
                <img class="load-img" src="{% static 'images/load.png' %}" alt="">
            </button>
        </div>
    </main>
{% endblock %}