{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Codes</title>
        <link rel="stylesheet" href="{% static 'my_codes.css' %}">
    </head>
    <body>
        <header>
            <img class="logo" src="{% static 'images/logo.png' %}" alt="Logo">
            <input type="text" class="search-input" placeholder="Search">
            <div class="vector-bg"></div>
        </header>
        <main>
            <h1 class="view">View my codes</h1>
            <div class="codes">
                <div class="card">
                    <img src="{% static 'images/pixel-frame.png' %}" alt="code-image">
                    <div class="info">
                        <p class="text-info">Code name: text</p>
                        <p class="text-info">Code color: text</p>
                        <p class="text-info">Creator: text</p>
                        <p class="text-info">Description: text</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/pixel-frame.png' %}" alt="code-image">
                    <div class="info">
                        <p class="text-info">Code name: text</p>
                        <p class="text-info">Code color: text</p>
                        <p class="text-info">Creator: text</p>
                        <p class="text-info">Description: text</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="vector-left"></div>
            
            <div class="content">
                <img class="qr-logo" src="{% static 'images/logo.png' %}" alt="">
                
                <div class="links">
                    <a href="" class="link">Buy a membership</a>
                    <a href="" class="link">Register</a>
                    <a href="" class="link">Log in</a>
                    <a href="" class="link">Create a QRCode</a>
                    <a href="" class="link">See my QRCodes</a>
                    <a href="" class="link">Write a review</a>
                </div>
                
                <div class="social-links">
                    <div class="social-item">
                        <!-- <div class="social-icon instagram-icon"></div> -->
                        <img class="social-icon" src="{% static 'images/inst.png' %}" alt="">
                        <a href="" class="link">Instagram</a>
                    </div>
                    <div class="social-item">
                        <!-- <div class="social-icon telegram-icon"></div> -->
                        <img class="social-icon" src="{% static 'images/telegram.png' %}" alt="">
                        <a href="" class="link">Telegram</a>
                    </div>
                    <div class="social-item">
                        <!-- <div class="social-icon viber-icon"></div> -->
                        <img class="social-icon" src="{% static 'images/viber.png' %}" alt="">
                        <a href="" class="link">Viber</a>
                    </div>
                </div>
            </div>
            
            <div class="vector-right"></div>
        </footer>
    </body>
</html>