{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Codes</title>
        <link rel="stylesheet" href="{% static 'my_codes.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <img src="" alt="logo">
            </nav>
            <input type="text" class="search">
            <div class="triangle"></div>
        </header>
        <main>
            <h1 class="view">View my codes</h1>
            <div class="codes">
                <div class="card">
                    <img src="{% static 'images/pixel-frame.png' %}" alt="code-image">
                    <div class="info">
                        <p class="text-info">Code name: text</p>
                        <p class="text-info">Code color: text</p>
                        <p class="text-info">Creator: text</p>
                        <p class="text-info">Description: text</p>
                    </div>
                </div>
                <div class="card">
                    <img src="{% static 'images/pixel-frame.png' %}" alt="code-image">
                    <div class="info">
                        <p class="text-info">Code name: text</p>
                        <p class="text-info">Code color: text</p>
                        <p class="text-info">Creator: text</p>
                        <p class="text-info">Description: text</p>
                    </div>
                </div>
            </div>
        </main>
        <footer>
    
        </footer>
    </body>
</html>