{% extends 'base.html' %}

{% load static %}

{% block title %}
    My QRCodes
{% endblock %}

{% block link %}
    <link rel="stylesheet" href = "{% static 'css/my_codes.css' %} ">
{% endblock %}

{% block content %}
    <main>
        <h1 class="view">Ваші коди</h1>
        <div class="codes">
            <div class="card">
                <img src="{% static 'images/pixel-frame.png' %}" alt="code-image">
                <div class="info">
                    <p class="text-info">Назва: text</p>
                    <p class="text-info">Колір: text</p>
                    <p class="text-info">Час створення: text</p>
                    <p class="text-info">Опис: text</p>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'images/pixel-frame.png' %}" alt="code-image">
                <div class="info">
                    <p class="text-info">Назва: text</p>
                    <p class="text-info">Колір: text</p>
                    <p class="text-info">Час створення: text</p>
                    <p class="text-info">Опис: text</p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}