{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title> Registration Page </title>
        <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    </head>
    <body>
        
        <div class="header">
            <div class="logo">
                <img src="{static 'images/logo.png'}" width="70" height="70" alt="Logo">
            </div>
            <input type="text" class="search-input" placeholder="Search...">
            <div class="vector-bg"></div>
        </div>

        <div class="signin-window">
            <div class="options">
                <div class="sign-in">
                    <span>sign in</span>
                </div>
                <div class="login-tab">
                    <span>log in</span>
                </div>
            </div>
            
            <h1 class="title">Sign in</h1>
            
            <div class="google-login">
                <div class="google-icon"></div>
                <span class="google-text">Sign in with Google</span>
            </div>
        
            <div class="divider">
                <hr class="line"/>
                <span>OR</span>
                <hr class="line"/>
            </div>
        
            <form class="login-form">
                <div class="name-fields">
                    <div class="input-group">
                        <label>First name</label>
                        <input type="text" placeholder="Ivan"/>
                    </div>
                    <div class="input-group">
                        <label>Last name</label>
                        <input type="text" placeholder="Ivanov"/>
                    </div>
                </div>
                
                <div class="input-group email">
                    <label>Email address</label>
                    <input type="email" placeholder="ivan.ivanov@example.com"/>
                </div>
        
                <button type="submit" class="login-button">
                    Log in
                </button>
            </form>
        </div>

        <div class="footer">
            <div class="vector-left"></div>
            
            <div class="content">
                <div class="qr-logo"></div>
                
                <div class="links">
                    <a href="#" class="link">Buy a membership</a>
                    <a href="#" class="link">Register</a>
                    <a href="#" class="link">Log in</a>
                    <a href="#" class="link">Create a QRCode</a>
                    <a href="#" class="link">See my QRCodes</a>
                    <a href="#" class="link">Write a review</a>
                </div>
                
                <div class="social-links">
                    <div class="social-item">
                        <div class="social-icon instagram-icon"></div>
                        <a href="#" class="link">Instagram</a>
                    </div>
                    <div class="social-item">
                        <div class="social-icon telegram-icon"></div>
                        <a href="#" class="link">Telegram</a>
                    </div>
                    <div class="social-item">
                        <div class="social-icon viber-icon"></div>
                        <a href="#" class="link">Viber</a>
                    </div>
                </div>
            </div>
            
            <div class="vector-right"></div>
        </div>
    </body>
</html>