*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #17153B;
}

input{
    color: #C8ACD6;
}
main .details{
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
    width: 60%;
    height: 400px;
}
.details .info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}
.info p{
    font-size: 20px;
    color: #C8ACD6;
}
.info input{
    height: 40px;
    width: 100%;
    border: 5px solid #433D8B;
    border-radius: 10px;
    background-color: #17153B;
}
main .code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 400px;
}
.code .qrcode{
    width: 250px;
    height: 250px;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    gap: 10px;
    border: 5px solid #433D8B;
    border-radius: 10px;
    background-color: #C8ACD6;
}
main{
    display: flex;
    flex-direction: row;
    padding: 0px 200px;
    align-items: center;
    background-color: #17153B;
}
.colors{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.color{
    width: 40px;
    height: 40px;
    border: 5px solid #433D8B;
    border-radius: 30px;
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.error{
    color: #ff0000;
}
.download-image{
    width: 40px;
    height: 40px;
}

.file-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/* .upload-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 48%; 
    text-align: center;
}

.upload-btn:hover {
    background-color: #0056b3;
} */

/* input[type="file"] {
    font-size: 22px; 
} */

/* #file-name {
    font-style: italic;
    color: #555;
    width: 48%;
    text-align: right;
    padding-left: 10px;
} */

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

input[type="file"] {
    font-size: 20px;
}
