{% extends 'base.html' %}

{% load static %}

{% block title %}
    Authorization
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/authorization.css' %}">
     <!-- <link rel="stylesheet" href="../static/css/authorization.css"> -->
{% endblock %}

{% block content %}
    <main>
        <div class="login-window">
            <div class="options">
                <div class="sign-in">
                    <a href="{% url 'registration' %}">Зареєструватися</a>
                </div>
                <div class="login-tab">
                    <span>Авторизуватися</span>
                </div>
            </div>
            
            <div class="divider">
                <hr class="line"/>
                <span>Авторизуватися</span>
                <hr class="line"/>
            </div>
            
            
            <form class="login-form">
                <div class="input-group email">
                    <label>Адреса електронної пошти</label>
                    {% csrf_token %}
                    <input type="email" placeholder="ivan.ivanov@example.com" name="email">
                </div>
                
                <div class="input-group password">
                    <label>Пароль</label>
                    {% csrf_token %}
                    <input type="password" placeholder="Enter your password" name="password">
                </div>
        
                <button type="submit" class="login-button">
                    Підтвердити
                </button>
            </form>
            {% if fail %}
                <p class="error">Такого користувача не існує. Спробуйте зареєструватися.</p>
            {% endif %}
        </div>
    </main>
{% endblock %}
