@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans";
    color: #17153B;
}
main .codes{
    display: flex;
    flex-wrap: wrap;
    padding: 5% 20% 5% 20%;
    align-items: center;
    gap: 50px;
}
.codes .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
    width: 300px;
    height: 400px;
    background-color: #C8ACD6;
    border: 5px #433D8B solid;
    border-radius: 10px;
}
.card img{
    width: 150px;
    height: 150px;
}
.card .info{
    display: flex;
    flex-direction: column;
    padding: 20px 34px;
    width: 280px;
    height: 190px;
}
.info .text-info{
    font-size: 20px;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100px;
    gap: 10%;
    background-color: #C8ACD6;
}
main{
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    align-items: center;
    background-color: #17153B;
}
.logo {
    width: 70px;
    height: 70px;
    border: 5px dashed #17153B;
    border-radius: 50px;
}

.search-input {
    width: 700px;
    height: 50px;
    background-color: #433D8B;
    border-radius: 10px;
    border: 5px solid #17153B;
}

.vector-bg {
    width: 368px;
    height: 100px;
    transform: scale(-1, 1);
}
.view{
    font-size: 40px;
    font-weight: bold;
    color: #C8ACD6;
}
footer {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: #17153B;
    justify-content: space-between;
    align-items: center;
}

.vector-left, .vector-right {
    width: 340px;
    height: 400px;
}

.vector-left {
    transform: scale(1, -1);
}

.vector-right {
    transform: scale(-1, -1);
}

.content {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.qr-logo {
    width: 150px;
    height: 150px;
    border: 5px dashed #433D8B;
    border-radius: 50px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.link {
    font-weight: 700;
    font-size: 20px;
    color: #c8acd6;
    text-decoration: none;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}