@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Instrument Sans";
}
.header input{
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.header .triangle{
    width: 368px;
    height: 100px;
    transform: scale(-1, 1);
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgba(23, 21, 59, 1);
    gap: 50px;
}
.logo{
    width: 70px;
    height: 70px;
    border: 5px dashed #17153B;
    border-radius: 50px;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    /* padding: 0 10%; */
    width: 100%;
    height: 100px;
    gap: 20px;
    background-color: #C8ACD6;
}
.box{
    background-color: red;
    display: flex;
    gap: 20px;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    /* left: 550px;
    top: 40px; */
    background-color: rgba(200, 172, 214, 1);
    height: 607px;
    border: 5px solid rgba(68, 61, 139, 1);
    width: 432px;
    border-radius: 10px;
}
.box p{
    /* position: relative; */
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
    /* left: 100px;
    top: 20px;  */
    font-weight: bold;
}
.box h2{
    position: relative;
    font-weight: bold;
    font-size: 24px;
    left: 50px;
}
input{
    /* position: relative; */
    top: 70px;
    border-radius: 10px;
    border: 5px solid rgba(23, 21, 59, 1);
    left: 20px;
    width: 374px;
    height: 50px;
    background-color: rgba(68, 61, 139, 1);
}
.input2{
    top: 70px;
    border-radius: 10px;
    border: 5px solid rgba(23, 21, 59, 1);
    left: 20px;
    width: 374px;
    height: 90px;
    background-color: rgba(68, 61, 139, 1);
}
.send{
    display: flex;
    justify-content: center;
    margin: auto;
    /* position: relative; */
    /* left: 680px;
    bottom: 30px; */
    width: 150px;
    height: 50px;
    background-color: rgba(68, 61, 139, 1);
    border-radius: 10px;
    border: 5px solid rgba(23, 21, 59, 1)
}
.send h1{
    /* position: relative; */
    top: 5px;
    color: rgba(200, 172, 214, 1);
    font-size: 24px;
    text-align: center;
}
footer {
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    align-items: center;
}

.vector-left, .vector-right {
    width: 340px;
    height: 400px;
}
.vector-left {
    transform: scale(1, -1);
}

.vector-right {
    transform: scale(-1, -1);
}

.content {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.qr-logo {
    width: 150px;
    height: 150px;
    border: 5px dashed #433D8B;
    border-radius: 50px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.link {
    font-weight: 700;
    font-size: 20px;
    color: #c8acd6;
    text-decoration: none;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}